/* CSS Reset */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

#intro-gradient {
  background: linear-gradient(to bottom right, #DF1F2d, #B11313 10%, #2B3784, #447BBE);
  height: 100vh;
}

#timeline {
  background: url('../assets/images/background_mobile.png');
  background-size: contain;
}

h2 {
  padding: 12px 0 12px 0;
}

h2, h3 {
  text-align: center;
}

.artist-list {
  text-align: center;
}


.comic-container {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.comic {
  width: 100%;
}

h3 {
  margin-top: 12px;
}

/* Footer */
#footer {
  background-color: lightgrey;
  padding: 12px;
}
