/* CSS Reset */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

#intro-gradient {
  align-items: center;
  background: linear-gradient(#DF1F2d, #B11313, 80%, #000000);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.decade {
  background: url('../assets/images/background_mobile.png');
  background-size: cover;
}

h2 {
  padding: 12px 0 12px 0;
}

h2, h3 {
  text-align: center;
}

.comic-covers {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.contracted .comic-covers {
  display: initial;
  padding: 0;
}

.contracted .comic {
  padding: 20px;
}

.comic {
  width: 100%;
}

.hidden {
  display: none;
}

h3 {
  margin-top: 12px;
}

/* Footer */
#footer {
  background-color: lightgrey;
  padding: 12px;
}
