/* CSS Reset */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: Verdana, sans-serif;
}

#intro-gradient {
  align-items: center;
  background: linear-gradient(#DF1F2d, #B11313, 80%, #000000);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.decade {
  background: url('../assets/images/background_mobile.png');
  background-size: cover;
  padding-bottom: 12px;
}

.decade-nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.decade-nav button, #decade-select {
  font-size: 2rem;
}

.arrow {
  background-color: black;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  color: white;
  width: 55px;
}

.decade select {
  background-color: black;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  color: white;
}

h2 {
  padding: 12px 0 12px 0;
}

h2, h3 {
  text-align: center;
}

.comic-covers {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.contracted .comic-covers {
  display: initial;
  padding: 0;
}

.contracted .comic {
  padding: 20px;
}

.comic {
  display: block;
  width: 100%;
}

.hidden {
  display: none;
}

h3 {
  margin-top: 12px;
}

.expand-contract-toggle {
  display: block;
  font-size: 1.4rem;
  margin: 0 auto;
}

.expanded-info {
  padding: 10px;
}

.character-description {
  margin-bottom: 12px;
}

/* Footer */
#footer {
  background-color: black;
  padding: 12px;
}

/* getting messy, organize later */
.timeline.desktop {
  /* background: linear-gradient(black, darkblue, 80%, red, black); */
    background: radial-gradient(
    circle farthest-corner at center 125px,
    #2B3784,
    black 90%
  ) no-repeat;

}

.decade.desktop {
  background: none;
  margin: 0 auto;
  max-width: 900px;
}

.decade.desktop .comic-covers {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 650px;
  padding: 10px;
}

h2 {
  font-size: 1.8rem;
}
